

/* common  */
body{
    margin: 0;
    padding: 0;
}
.price-section{
    position: relative;
}


/* button  */
.button-org{
    background-image: linear-gradient(#FF7900,#f3960a);
    transition: 0.3s ease-in-out;
}
  
.button-org:hover {
    transition: 0.3s ease-in-in;
    transform: scale(1.03);
  }

  .button-org a{
      text-decoration: none;
      color: #fff;
  }

  /* price style  */
  .icon p{
      font-weight: 500;
    
  }
  .icon .fas{
      background-color: #e1ccf5;
      color: blueviolet;
      border-radius: 25px;
      font-size: 12px;
      padding: 4px;
  }
  .price-btn{
      background-color:#FDF4FA ;
      color: blueviolet;
  }
  .hot-card{
      position: relative;
      top: -25px;
      transform: scaleY(1.09);
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  }
  badge{
      position: absolute;
      bottom: 530px;
      right: 320px;
      z-index: 1;
      background-color: #fa2828;
  }
  @media screen and (max-width:768px) {
    badge{
        position: absolute;
        bottom: 950px;
        right: 50px;
        z-index: 1;
        background-color: #fa2828;
    }
  }